@font-face {
  font-family: 'Avenir';
  src: url(/src/assets/fontes/AvenirLTStd-Book.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: 'Avenir', sans-serif;
}